nodered/flow.json
[{"id":"bb2e465d440d6cbc","type":"tab","label":"EntrySign","disabled":false,"info":""},{"id":"d0ecadda7d19805f","type":"aedes broker","z":"bb2e465d440d6cbc","name":"VistorButtonBroker","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"credentials":{},"x":130,"y":340,"wires":[["052b6eae16f38b02"],["0c2ec7d5b604f254"]]},{"id":"2bd87f683a4ebf55","type":"debug","z":"bb2e465d440d6cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"6c26807813a54b7a","type":"mqtt out","z":"bb2e465d440d6cbc","name":"enter","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"33d51f1121063939","x":730,"y":640,"wires":[]},{"id":"052b6eae16f38b02","type":"debug","z":"bb2e465d440d6cbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":300,"wires":[]},{"id":"0c2ec7d5b604f254","type":"switch","z":"bb2e465d440d6cbc","name":"","property":"payload.packet.topic","propertyType":"msg","rules":[{"t":"eq","v":"visitorbutton/click","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":380,"wires":[["27658cdd8fd25c99"],["e0e01a2a116ca1cc"]]},{"id":"e0e01a2a116ca1cc","type":"debug","z":"bb2e465d440d6cbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":400,"wires":[]},{"id":"2001cec099162d01","type":"telegram sender","z":"bb2e465d440d6cbc","name":"","bot":"7460bf62f4ccfdef","haserroroutput":false,"outputs":1,"x":760,"y":340,"wires":[["2bd87f683a4ebf55"]]},{"id":"0263ed0f1d7fc6a5","type":"mqtt out","z":"bb2e465d440d6cbc","name":"wait","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"33d51f1121063939","x":730,"y":580,"wires":[]},{"id":"ec67c8443ccf2c31","type":"mqtt out","z":"bb2e465d440d6cbc","name":"busy","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"33d51f1121063939","x":730,"y":520,"wires":[]},{"id":"27658cdd8fd25c99","type":"function","z":"bb2e465d440d6cbc","name":"","func":"btnLine1 = [{\n    \"text\": \"Upptagen\",\n    \"callback_data\": \"busy\"\n},\n{\n    \"text\": \"Vänta\",\n    \"callback_data\": \"wait\"\n},\n{\n    \"text\": \"Stig in\",\n    \"callback_data\": \"enter\"\n\n}]\nreplyMarkup = { \"inline_keyboard\": [ btnLine1 ] }\n\nmsg.payload = {\n    chatId: \"11111\",\n    type: \"message\",\n    content: \"Knack knack\",\n    options: {\n        reply_markup: replyMarkup\n    }\n}\n//msg.payload.chatId = \"-1001599714888\";\n//msg.payload.type = \"message\";\n//msg.payload.content = \"Knock Knock\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":340,"wires":[["2001cec099162d01"]]},{"id":"cdb0bd5bb2c2ae9a","type":"telegram event","z":"bb2e465d440d6cbc","name":"","bot":"7460bf62f4ccfdef","event":"callback_query","autoanswer":false,"x":100,"y":580,"wires":[["01565b0b7718e6b7","f3a3f5337a6e889e"]]},{"id":"01565b0b7718e6b7","type":"debug","z":"bb2e465d440d6cbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":500,"wires":[]},{"id":"f3a3f5337a6e889e","type":"switch","z":"bb2e465d440d6cbc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"busy","vt":"str"},{"t":"eq","v":"wait","vt":"str"},{"t":"eq","v":"enter","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":580,"wires":[["f5889dfef6b29771"],["2a9f0ec49fad67c0"],["aed901ad9488c557"]]},{"id":"f5889dfef6b29771","type":"function","z":"bb2e465d440d6cbc","name":"","func":"msg.payload = {\"pos\":2,\"color\":{\"r\":50,\"b\":0,\"g\":0}};\n\nmsg.topic = \"visitorbutton/response\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["ec67c8443ccf2c31"]]},{"id":"2a9f0ec49fad67c0","type":"function","z":"bb2e465d440d6cbc","name":"","func":"msg.payload = {\"pos\":1,\"color\":{\"r\":50,\"b\":0,\"g\":50}};\n\nmsg.topic = \"visitorbutton/response\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":580,"wires":[["0263ed0f1d7fc6a5"]]},{"id":"aed901ad9488c557","type":"function","z":"bb2e465d440d6cbc","name":"","func":"msg.payload = {\"pos\":0,\"color\":{\"r\":0,\"b\":0,\"g\":50}};\n\nmsg.topic = \"visitorbutton/response\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["6c26807813a54b7a"]]},{"id":"33d51f1121063939","type":"mqtt-broker","name":"VistorBroker","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7460bf62f4ccfdef","type":"telegram bot","botname":"my_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
